@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.App {
  font-family: "Archivo Black";
  color: white;
  background: #161B22;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.App-header {
  text-align: center;
  margin: 4em 0;
}

.name {
  font-size: 4em;
  margin: 0.5em;
}

.about {
  font-size: 1.5em;
  margin: 2em;
}

.about-title {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}
.yin-yang {
  margin: auto;
  width: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .yin-yang {
    animation: yin-yang-spin infinite 10s linear;
  }
}


@keyframes yin-yang-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
